/* You can add global styles to this file, and also import other styleDef files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "styles/css-variables.css";
@import "styles/imported.css";
@import "styles/scss-variables";

.scss-global {
  color: silver;
}

.scss-global-variable {
  color: $main-color;
}

.example-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.example-sidenav-content {
  padding-top: 5px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  /*height: 300px;*/
  display: flex;
  flex-direction: column;
  /*height: 100%;*/
}

.example-sidenav {
  padding: 10px;
}

.header {
  padding-bottom: 50px;
  margin: 3px;
}

.example-content {
  flex-grow: 2;
  border: darkgray solid 1px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 50px;
  background-color: white;
}
